body>header,
body>footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    border: hidden;
    border-radius: 0px 0px 10px 10px;
}

body>footer {
    border-radius: 10px 10px 0px 0px;
}

body>header {
    margin-top: 1vh;
}

header>icon {
    cursor: pointer;
    height: inherit;
}

header>icon>img {
    height: inherit;
    width: auto;
    transition: 0.5s step-end;
}

header>icon>img:hover {
    transform: rotateY(180deg);
}

header>searcheng {
    font-size: 5vh;
    display: flex;
    align-items: center;
    height: calc(100% - 10px);
    width: 100%;
    border: 0.8vh solid var(--focusclr);
    border-radius: 5vh;
    overflow: hidden;
}

header>searcheng>form {
    width: 100%;
}

header>searcheng>form>input {
    width: 100%;
    padding: 1vh;
    font-size: 5vh;
    border: none;
}

header>searcheng>form>input:focus-visible {
    outline: none;
}

header>searcheng>div {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
    height: inherit;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

header>searcheng>div>*,
#PstCB {
    cursor: pointer;
}

header>searcheng>div>* {
    border-left: 1px solid var(--focusclr);
    margin-left: 5px;
    padding-left: 5px;
}

searcheng>div>setting>div {
    cursor: default;
    display: none;
    position: fixed;
    width: fit-content;
    max-width: 85%;
    height: auto;
    max-height: 85%;
    top: 5%;
    right: 5%;
    padding: 3%;
    border-radius: 5px;
    font-size: 90%;
    text-shadow: var(--focusclr) 0.5px 0.5px 1px;
    box-shadow: var(--shadowclr) 0px 0px 5px 0px;
    z-index: 100;
}

searcheng>div>setting .active {
    pointer-events: none;
    border-radius: 5px;
    background: var(--focusclr);
}

searcheng>div>setting>div>i {
    cursor: pointer;
    top: 1px;
    right: 3px;
    position: absolute;
}

searcheng>div>setting>div>.tab {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

searcheng>div>setting>div>.tab:nth-last-child(2) {
    margin-bottom: 0;
}

searcheng>div>setting>div>length {
    background: #ff00;
    color: var(--primclr);
}

searcheng>div>setting>div>length::before {
    content: 'Video Length in Minutes:';
}

searcheng>div>setting>div>dur {
    background: #ff00;
    color: var(--primclr);
}

searcheng>div>setting>div>dur::before {
    content: 'Upload Date:';
}

searcheng>div>setting>div>.tab::before {
    position: absolute;
    font-size: 65%;
    margin-top: -1.3em;
    color: var(--focusclr);
    font-family: monospace;
}

searcheng>div>setting>div>.tab>div {
    cursor: pointer;
    padding: 5px;
    border-left: 1px solid var(--focusclr);
}

searcheng>div>setting>div>.tab>div:nth-child(1) {
    border-left: none;
}

#processingE {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 1vh;
    display: flex;
    background: transparent;
    z-index: 9;
    box-shadow: inset 0px 0px 5px var(--shadowclr);
}

#processingE>#initial {
    display: none;
    width: 100%;
    height: inherit;
    background-image: url(../assest/progress_bar.gif);
}

#dlpi1 {
    display: block;
    position: absolute;
    height: inherit;
    width: 0%;
}

#dlpi1>div {
    display: block;
    height: inherit;
    background-color: var(--focusclr);
}

#msg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: fit-content;
    max-width: 80%;
    min-width: 30%;
    height: fit-content;
    min-height: 10%;
    padding: 10px;
    transition: 0.5s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 1.07 36.19%, 0.82 50.14%, 1.06 55%, 0.88 70.62%, 1.09 78.08%, 0.93 95.96%, 0.99 115.44%);
    top: -100%;
    /* top: 10%; */
    right: 50%;
    transform: translate(50%, 0);
    font-size: large;
    font-weight: bold;
    color: var(--primclr);
    text-shadow: var(--focusclr) 0.5px 0.5px 1px;
    box-shadow: var(--shadowclr) 0px 0px 5px 0px;
    background-color: var(--secndclr);
    border-radius: 5px;
    z-index: 99;
}

#msg-box>i {
    cursor: pointer;
    top: 1px;
    right: 3px;
    position: absolute;
}

#msg-box>span {
    text-align: center;
}

#mobileDiv>aside,
#desktopDiv>aside,
content>related,
.maincan>trending {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

content>related,
.maincan>trending {
    margin-right: -1vw;
}

.postd {
    position: relative;
    width: calc(20% - (1vw + 2px));
    border: 1px solid var(--focusclr);
    box-shadow: var(--shadowclr) 0px 0px 5px 0px;
    overflow: hidden;
    border-radius: 10px;
}

aside>.postd {
    width: calc(50% - (0.5vw + 2px));
}

#mobileDiv .maincan>trending>.postd,
#mobileDiv content>related>.postd {
    width: calc(50% - (1vw + 2px));
}

owner {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    gap: 0.3em;
}

owner>img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

owner>a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: scale(1, 2);
}

.det {
    position: absolute;
    width: 100%;
    bottom: 100%;
    opacity: 0;
    transition: 0.5s;
    max-height: 100%;
}

.det>div {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.postd>a {
    display: block;
    text-decoration: none;
}

.postd>i {
    display: flex;
    position: absolute;
    width: 1em;
    height: 1em;
    right: 0;
    top: 0;
    border-radius: 50%;
    padding: 0.3em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--shadowclr) 0px 0px 5px 0px;
}

.postd>a>img {
    display: flex;
    width: 100%;
    height: 56.25%;
}

.postd>a>.title {
    font-weight: 600;
    margin: 0.3em;
    text-align: center;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

xvideoplayer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid red;
}

content>info {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
    font-size: xx-large;
}

content>info>header {
    display: flex;
    gap: 10px;
}

#mobileDiv content>info>header {
    flex-direction: column;
    margin: 10px 0 0 0;
}

content>info>div {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 50%;
}

content>info>div>*,
.maincan>showm {
    cursor: pointer;
    padding: 10px;
    background: var(--focusclr);
    color: var(--primclr);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px var(--secndclr);
    user-select: none;
    -moz-user-select: none;
}

content>info>header>img {
    width: 300px;
    height: 180px;
}

#mobileDiv content>info>header>img {
    width: 100%;
    height: auto;
}

content>info>header>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

content>info>header>div>a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 90%;
    font-weight: bold;
}

content>info>header>div>a>img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

info>header>div>info,
info>header>div>warn {
    font-size: 70%;
    font-weight: bold;
}

content>info h1,
h3,
h4 {
    margin: 0;
    font-size: 100%;
}

content>info h3,
h4 {
    font-family: cursive;
    font-size: 60%;
    display: none;
}

content>download {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6px;
    gap: 7px;
    margin-bottom: 5vh;
}

content>download>a {
    display: block;
    text-decoration: none;
    font-size: large;
    width: fit-content;
    text-align: center;
    border: 1px solid var(--shadowclr);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 3px 1px var(--focusclr);
    transition: 50ms;
}

#mobileDiv content>download>a {
    font-size: small;
}

content>download>a>b {
    color: var(--focusclr);
}

content>download>a:active {
    transform: scale(105%);
}

content>download>a:focus {
    border: 1px ridge var(--focusclr);
    box-shadow: 0px 0px 5px 1px var(--shadowclr);
}

content>download>a>* {
    background: transparent;
}

hidden {
    display: none;
}

#bcktop {
    display: none;
    position: fixed;
    padding: 5px;
    cursor: pointer;
    color: var(--primclr);
    background-color: var(--focusclr);
    box-shadow: 0px 0px 3px 1px var(--focusclr);
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 45px;
    overflow: hidden;
    transition: 0.3s;
    justify-content: flex-end;
    align-items: center;
    opacity: 20%;
    z-index: 999999999;
}

#bcktop>span {
    display: block;
    background: transparent;
    transform: rotate(90deg);
    line-height: 0;
    margin-right: -1px;
}

#bcktop:hover {
    opacity: 1;
}

@media screen and (max-width: 1300px) {
    .postd {
        width: calc(25% - (1vw + 2px));
    }
}

@media screen and (max-width: 900px) {
    .postd {
        width: calc(33.333% - (1vw + 2px));
    }

    aside>.postd {
        width: calc(100% - (-0.5vw + 2px));
    }

    content>info {
        font-size: x-large;
    }
}

@media screen and (max-width: 660px) {
    .postd {
        width: calc(50% - (1vw + 2px));
    }

    content>info {
        font-size: large;
    }
}

@media screen and (max-width: 512px) {

    #mobileDiv aside>.postd {
        width: calc(50% - (0.5vw + 2px));
    }
}

@media screen and (max-width: 360px) {

    #mobileDiv .maincan>trending>.postd,
    #mobileDiv content>related>.postd {
        width: calc(100% - (1vw + 2px));
    }

    #mobileDiv aside>.postd {
        width: calc(100% - (-0.5vw + 2px));
    }
}